@charset "UTF-8";

/* html {background-color: #737c84;} */
/* Reset body */
/* html {    
    position: fixed;
    width: 100%;
    height: 100%;
} */
body {
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) {letter-spacing: normal;}

/* Reset img */
img {
    max-width: 100%;
    height: auto;
}

/* Font Reset*/
h1, h2, h3, h4, h5, h6, 
button {
    font-weight: 400;
    font-size: inherit;
    font-family: inherit;
}

/* link Tag color
a:link {color: inherit;} */

/* CSS Reset by [class] */
[class] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before, ::after {box-sizing: border-box;}
:disabled,
.disabled {pointer-events: none;}
:focus {outline: none;}
ol, ul {list-style: none;}
table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
button, table, fieldset, input, textarea, select, iframe {border: 0;}
button, dialog, input, mark, meter, progress {background-color: transparent;}
button, input, textarea, select, meter, progress {
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
}

hr {
    display: none;
}

.blind {overflow: hidden; position: absolute; left: -9999px; width: 0; height: 0; }

select:disabled {opacity: 1;}
a {display: inline-block; color: inherit; text-decoration: none;}

/* scroll */
::-webkit-scrollbar {width: 10px; height: 10px; background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: #ccc; border-radius: 4px;}  
