@font-face {
    font-family: 'Blackoak Std';
    src: url('../font/Blackoak-Std.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.header {display: block; position: relative; width: 100%; height: 100vh; background-color: #000;}
.header__logo {position: absolute; width: 100%; top: 50%; left:50%; transform: translate(-50% , -50%); color:#122f9c; text-align: center; font-size: 72px; font-family: 'Blackoak Std';}
.video{position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);min-width: 100%}
.section {background-color: #737c84;}
.section__title {position: relative; width:100%; height: 140px; background-color: #444345; color:#647079; font-family: 'Blackoak Std'; text-decoration: underline; text-align: center; line-height: 140px; font-size: 72px;}
.section__link{position: relative; text-decoration: underline;}
.section__link:before {content:'more'; height:50px; line-height:32px; position:absolute; top:50px; right: -125px; padding:5px; font-size: 30px; background-color:#647079; color:#444345; border: 2px #647079 solid; border-radius: 100%; font-family: "Noto Sans CJK KR";}
.section__link:hover::after {content: '>'; position: absolute; margin-left: 145px;}
.section__inner {position: relative; max-width: 1600px; margin: 0 auto; padding: 50px 0; background-color: transparent; text-align: center; overflow: hidden;}
.section__inner.award::before {content:"Award"; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);  color:#6c767f; font-size: 120px;  font-family: 'Blackoak Std'; z-index: 0;}
.section__inner.production::before {content:"Production"; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);  color:#6c767f; font-size: 120px;  font-family: 'Blackoak Std'; z-index: 0;}
.section__inner.class::before {content:"Class"; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);  color:#6c767f; font-size: 120px;  font-family: 'Blackoak Std'; z-index: 0;}

.vidioBox {display: inline-block; width:700px; height:500px; margin-top:10px; margin-bottom:10px; position:relative; z-index: 1;}
.vidioBox+.vidioBox {margin-left:20px}
.vidioBox--center {}
.vidioBox--left {}
.vidioBox--right {}
iframe,
.video-mini {width:100%; height:100%;}

.footer {padding-top:50px; background-color: #737c84;}
.footer__inner {max-width: 1600px; margin: 0 auto;}
.footer__logo {font-family: 'Blackoak Std'; color: #122f9c; font-size: 72px;}
.footer__item {position: relative; color: #122f9c; font-family: "Noto Sans CJK KR"; font-size: 32px; font-weight: 900; vertical-align: middle;}
.footer__item::before {content: ""; display: inline-block; width: 40px; height: 40px; margin-right: 10px; vertical-align: middle;}
.footer__item.youtube::before {content: ""; background: url(../image/youtube.png) no-repeat center / 40px auto;}
.footer__item.instar::before {content: ""; background: url(../image/instagram.png) no-repeat center / 40px auto;}
.footer__item.email::before {content: ""; background: #bebebe url(../image/gmail.png) no-repeat center / 25px auto; border-radius: 100%;}
.footer__link {line-height: 60px}
.footer__link:hover::after {content: '>'; position: absolute; top: 3px; margin-left: 15px;}
.footer__text {color: #000; font-size: 20px; font-weight: 700; padding: 50px 0; text-align: center;}

@media screen and (max-width: 1100px) {
    .header{width:100%; height:100vh; overflow:hidden;}
    .video {display:none;}

    .header__logo {font-size: 20px;}
    .section__title {font-size: 20px; height: 50px; line-height: 50px;}
    .section__title:hover::after {margin-left: 10px;}
    .section__inner,
    .section__inner.award::before,
    .section__inner.production::before,
    .section__inner.class::before {font-size: 30px;}
    .section__link:before {top: 15px; right:-60px; height: 25px; line-height:10px; font-size: 15px; font-weight:600;}
    .section__link:hover::after {content: '>'; position: absolute; margin-left: 70px;}

    .vidioBox {width:300px; height:200px;}
    .vidioBox+.vidioBox {margin-left:0}
    
    .footer {padding: 0 10px;}
    .footer__logo {font-size: 20px; text-align: center;}
    .footer__item {font-size: 15px; text-align: center;}
    .footer__item::before {content: ""; display: inline-block; width: 25px; height: 25px; margin-right: 10px; vertical-align: middle;}
    .footer__item.youtube::before {content: ""; background: url(../image/youtube.png) no-repeat center / 25px auto;}
    .footer__item.instar::before {content: ""; background: url(../image/instagram.png) no-repeat center / 25px auto;}
    .footer__item.email::before {content: ""; background: #bebebe url(../image/gmail.png) no-repeat center / 15px auto; border-radius: 100%;}
    .footer__link {line-height: 30px}
    .footer__text {font-size: 13px;}

}





