@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard Black'), local('Pretendard-Black'),
        url(../font/Pretendard-Black.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard ExtraBold'), local('Pretendard-ExtraBold'),
        url(../font/Pretendard-ExtraBold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard Bold'), local('Pretendard-Bold'),
        url(../font/Pretendard-Bold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'),
        url(../font/Pretendard-SemiBold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard Medium'), local('Pretendard-Medium'),
        url(../font/Pretendard-Medium.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard Regular'), local('Pretendard-Regular'),
        url(../font/Pretendard-Regular.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard Light'), local('Pretendard-Light'),
        url(../font/Pretendard-Light.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard ExtraLight'), local('Pretendard-ExtraLight'),
        url(../font/Pretendard-ExtraLight.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard Thin'), local('Pretendard-Thin'),
        url(../font/Pretendard-Thin.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url(../font/Poppins-Regular.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url(../font/Poppins-SemiBold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url(../font/Poppins-Bold.woff) format('woff');
  }

  @font-face {
      font-family: 'SF_HambakSnow';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
    font-family: 'MYYeongnamnu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html,body {font-size: 16px; font-family: 'MYYeongnamnu';}
.header {display: block; position: fixed; width: 100%; height: 100%; top: 0; left: 0;}
.video {position: absolute; width: 100%; height: 100%; object-fit: cover; z-index: 1;}
.overlay {position: absolute; width: 100%; height: 100%; z-index: 2; background: linear-gradient(135deg , rgb(4,68,101), rgb(138, 255, 146)); mix-blend-mode: overlay; opacity: 0.3;}
.logo {position: absolute; top: 50%; left:50%; transform: translate(-50% , -50%); z-index: 3; width: 100%; color:#fff; text-align: center; font-size: 120px;}
.typing-txt {display: none;}
.typing, .typing .ul, .typing .li {font-size: inherit; color: inherit;}
.section {position: relative; z-index: 4;}
.section01 {margin-top: 100vh; background-color: #005A98;}
.section02 {background-color: #0D3455;}
.section03 {background-color: #005A98;}
.section04 {background-color: #0D3455;}
.section05 {background-color: #005A98;}
.pgTit {padding: 40px; text-align: center; background-color: #0D3455; color: #fff; font-size: 70px; letter-spacing: 15px;}
.secTit {padding: 40px; text-align: center; color: #fff; font-size: 65px;}
.videoItem {position: relative; width: 100%; height: calc(100vh - 230px); min-height:500px;}
.coverBox {padding: 0 80px 50px 80px;}
.txtNone .coverBox {padding-bottom: 80px;}
.itemFlex {display: flex; column-gap: 40px;}
.itemFlex+.txtBox {padding-top: 40px;}
.videoItem .image {display: block; width: 100%; height: 100%; object-fit: cover;}
.playVideo {position: absolute; width: 100%; height: 100%; left: 0; top: 0; cursor: pointer;}
.playVideo:hover {transition: all 0.3s; background-color: rgb(0, 0, 0 , 0.2);}
.icon-play {position: absolute; top: 50%;left: 50%; transform: translate(-50% , -50%); width: 60px; height: 60px; background: url(../image/play-button.png) no-repeat center / 60px;}
.videoIframe {
  /* display: none; */
  width: 100%; height: 100%;}
.iframe {display: block; width: 100%; height: 100%;}
.txtBox {min-width: 50%;}
.txt {padding-top: 20px; text-align: center; color: #fff; font-size: 40px;}
small {font-size: 24px;}
.footer {position: relative; padding: 80px; background-color: #0D3455;}
.footer__inner {}
.footer__logo {color: #fff; font-size: 50px; padding-bottom: 20px;}
.footer__item {position: relative; color: #fff; font-size: 28px; font-weight: 900; vertical-align: middle;}
.footer__item::before {content: ""; display: inline-block; width: 40px; height: 40px; margin-right: 10px; vertical-align: middle;}
.footer__item.youtube::before {content: ""; background: url(../image/youtube.png) no-repeat center / 40px auto;}
.footer__item.instar::before {content: ""; background: url(../image/instagram.png) no-repeat center / 40px auto;}
.footer__item.email::before {content: ""; background: #bebebe url(../image/gmail.png) no-repeat center / 25px auto; border-radius: 100%;}
.footer__link {line-height: 60px}
.footer__link:hover::after {content: '>'; position: absolute; top: 3px; margin-left: 15px;}
.footer__text {color: #2dace0; font-size: 20px; font-weight: 700; padding-top: 40px; text-align: center;}

@media screen and (max-width: 1100px) {
    .logo {font-size: 40px;}
    .videoItem {height: calc(100vw); min-height: 350px; max-height: 500px;}
    .pgTit {padding: 20px; font-size: 35px; letter-spacing: 9px;}
    .secTit {padding: 20px; font-size: 28px;}
    .coverBox {padding: 0 20px 30px 20px;}
    .txtNone .coverBox {padding-bottom: 20px;}
    .txtBox {width: 100%;}
    .txt {padding-top: 10px; font-size: 20px;}
    small {font-size: 15px;}
    .itemFlex {display: flex; flex-direction: column; row-gap: 20px; column-gap: 40px;}

    .footer {padding: 40px;}
    .footer__logo {font-size: 34px; text-align: center;}
    .footer__item {font-size: 15px; text-align: center; padding: 7px 0;}
    .footer__item::before {content: ""; display: inline-block; width: 25px; height: 25px; margin-right: 10px; vertical-align: -9px;}
    .footer__item.youtube::before {content: ""; background: url(../image/youtube.png) no-repeat center / 25px auto;}
    .footer__item.instar::before {content: ""; background: url(../image/instagram.png) no-repeat center / 25px auto;}
    .footer__item.email::before {content: ""; background: #bebebe url(../image/gmail.png) no-repeat center / 15px auto; border-radius: 100%;}
    .footer__link {line-height: 30px}
    .footer__text {font-size: 12px;}

    .mo_none {display:none;}
}
